a {
	overflow: hidden;
	float: left;
}
img:hover {
	border: 6px solid #ff0000;
}
img:hover img {
	margin: -6px;
}

div#main{
	min-height:400px;
	width:100%;
	background-color:#000000;
}
div#content2{
	display:block;
	margin-left:auto;
	margin-right:auto;
	
	//padding:20px;
	min-height:400px;
	background-color:#000000;
	width:1200px;
}

div#smallimages{
	height:200px;
}
div.project{
	float:left;
	width:500px;
	background-color:#ffffff;
	margin:20px;
	padding:20px;
}
h3.projecttitle{
	margin:0 32 8 16px;
	font-size:1.4em;
	white-space: nowrap;
	overflow: hidden;
	cursor:pointer; 
}
div.owner,
div.description{
	margin:16 32 8 16px;
}

div.description{
	display:none;
}
img.thumb{
	margin:8px;
	cursor:pointer;
}
body{
	background-color:yellow;
	margin:0px;
	width:100%;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

h1#title{
	position: absolute;
	width:100%;
	font-size:2.2em;
	margin-bottom:0px;
	display: block;
  text-align: center;
	cursor:pointer; 
}
.stitle{

	font-size:0.8em;
	text-align:center;
	white-space: nowrap;
	overflow: hidden;
	width:136px;
	margin-left:auto;
	margin-right:auto;

}
header{
	position: relative;
	min-height:72px;
	height:10%;

}

.border_radius_100 {
	border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.border_radius_32 {
	border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
}

