
div#content2{
	width:100%;
	//margin:100px;
	padding:20px;
	text-align:center;
	min-height:400px;
	background-color:#000000;
//	clear:both;
}

div#smallimages{
	clear:both;
	float:none;
	text-align:left;
	width:100%;
}
div.project{
	float:left;
	width:500px;
	background-color:#ffffff;
	margin:20px;
	padding:20px;
}
h3.projecttitle{
	margin:0 32 8 16px;
	font-size:1.8em;
}
div.owner,
div.description{
	margin:16 32 8 16px;
}

div.description{
	display:none;
}
img.thumb{
	margin:8px;
	cursor:pointer;
}
body{
	background-color:yellow;
	margin:0px;
	width:100%;
	font-family: "ÉqÉâÉMÉmäpÉS Pro W3", "Hiragino Kaku Gothic Pro", "ÉÅÉCÉäÉI", Meiryo, Osaka, "ÇlÇr ÇoÉSÉVÉbÉN", "MS PGothic", sans-serif;
}

header,footer{
	height:4%;
	//min-height:100px;
	//padding:30px;
}

.border_radius_100 {
	border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.border_radius_32 {
	border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
}

